# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
PolarCam.egg-info/

# virtualenv
venv/

# data
data/*

# not currently working, might abandon
tests/test_fourkas_3d.py
