# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
PolarCam.egg-info/

# virtualenv
venv/

# not currently working, might abandon
tests/test_fourkas_3d.py

# ignore data files but keep the folder
data/*
!data/.gitkeep